# Entornos virtuales
.venv/
env/
venv/

# Cache de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de log o temporales
*.log
*.tmp

# Archivos específicos del sistema
.DS_Store
Thumbs.db

# Archivos de Streamlit
.streamlit/config.toml

# Archivos de control de versiones
*.swp
*.swo
*.bak

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Archivos de sistema de Windows
ehthumbs.db
Desktop.ini
